<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/Content/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/css/dashboard.css" />
    @RenderSection("styles", false)
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/Content/js/html5shiv.min.js"></script>
    <script src="/Content/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand logo" href="#">XX后台系统</span>
            </div>
            <div class="navbar-collapse collapse">
                <a class="navbar-brand navbar-right" href="#">退出</a>
                <span class="navbar-brand navbar-right">管理员</span>
            </div>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">

                <h5>ApiContainer</h5>
                <ul class="nav nav-sidebar">
                    <li class="@((ViewBag.CurrController == "ApiContainer" && ViewBag.CurrView == "Overview") ? "active" : "")"><a href="/ApiContainer/Overview">Overview<span class="sr-only">(current)</span></a></li>
                    <li class="@((ViewBag.CurrController == "ApiContainer" && ViewBag.CurrView == "UploadDll") ? "active" : "")"><a href="/ApiContainer/UploadDll">UploadDll</a></li>
                    <li class="@((ViewBag.CurrController == "ApiContainer" && ViewBag.CurrView == "Rollback") ? "active" : "")"><a href="/ApiContainer/Rollback">Rollback</a></li>
                </ul>
                <h5>NavBar_Two</h5>
                <ul class="nav nav-sidebar">
                    <li><a href="">Nav item</a></li>
                    <li><a href="">Nav item again</a></li>
                </ul>
            </div>
            @RenderBody()
        </div>
    </div>

    <script src="/Content/js/jquery.min.js"></script>
    <script src="/Content/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
